<section class="container">
  <h2>Add New Appointment</h2>
  <form (ngSubmit)="onSubmit()" [formGroup]="appointmentForm">
    <div class="mb-3">
      <label for="customerName" class="form-label">Customer Name</label>
      <input
        type="text"
        id="customerName"
        class="form-control"
        formControlName="customerName"
      />
      @if(appointmentForm.get('customerName')?.invalid &&
      appointmentForm.get('customerName')?.touched) {
      <div class="text-danger">Customer Name is required.</div>
      }
    </div>

    <div class="mb-3">
      <label for="appointmentDate" class="form-label">Appointment Date</label>
      <input
        type="date"
        id="appointmentDate"
        class="form-control"
        formControlName="appointmentDate"
      />
      @if(appointmentForm.get('appointmentDate')?.invalid &&
      appointmentForm.get('appointmentDate')?.touched) {
      <div class="text-danger">
        Appointment Date is required and must be in the future.
      </div>
      }
    </div>

    <div class="mb-3">
      <label for="status" class="form-label">Status</label>
      <select id="status" class="form-select" formControlName="status">
        <option value="" disabled>Select status</option>
        @for (status of statusOptions; track $index) {
        <option value="{{status}}">{{status}}</option>
        }
      </select>
      @if(appointmentForm.get('status')?.invalid &&
      appointmentForm.get('status')?.touched) {
      <div class="text-danger">Status is required.</div>
      }
    </div>

    <div class="mb-3">
      <label for="notes" class="form-label">Notes</label>
      <textarea
        id="notes"
        class="form-control"
        formControlName="notes"
      ></textarea>
    </div>

    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="!appointmentForm.valid"
    >
      Add Appointment
    </button>
  </form>
</section>
