<div class="row">
  <div
    class="card shadow col-lg-3 col-md-2 col-sm-12"
    (click)="goToDetails(appointment.id)"
  >
    <div class="card-body">
      <p class="card-text">Customer Name: {{ appointment.customerName }}</p>
      <p class="card-text">
        Appointment Date: {{ appointment.appointmentDate | date }}
      </p>
      <p class="card-text">Status: {{ appointment.status }}</p>
      <p class="card-text">Notes: {{ appointment.notes }}</p>
      @if (auth.islogin()) {

      <button
        class="btn btn-outline-danger"
        (click)="$event.stopPropagation(); deleteAppointment(appointment.id)"
      >
        Delete
      </button>
      <button
        class="btn btn-outline-primary ms-1"
        (click)="$event.stopPropagation(); openUpdateModal(appointment)"
      >
        Update
      </button>
      }
    </div>
  </div>
</div>
<div class="modal fade" id="updateModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h5 class="modal-title">Update Appointment</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>

      <!-- Modal Body -->
      <div class="modal-body p-3">
        <app-update-form
          [appointment]="selectedAppointment ?? null"
        ></app-update-form>
      </div>
    </div>
  </div>
</div>
